 <template name="home">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <br>
        <h5 class="header center white-text text-lighten-2">
         Welcome to souker
       </h5>
      <!--   <div class="row center">
          <img src="images/idea.png" class="idea" style="max-width: 50%; height: auto" alt="">
        </div> -->
        <div class="row" id="tractionForm">
          {{#autoForm collection="Traction" id="insertTractionForm" class="subscribtion_form" type="insert"}}
          <h6 class="white-text header center">
           Subscribe to learn more
         </h6>
         <div class="input-field"> 
          <div class="form-group">
            <span class="help-block"></span>
            <div class="row">
              <div class="col s10 m9 white-text" style="padding: 0;">
                {{> afQuickField name='email' }}
              </div>
              <div class="col s6 m3 white-text">
                <button type="submit" class="btn btn-large btn-submit">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
        {{/autoForm}}

        <div id="success" style="display:none">
          <h5 class="header center white-text text-lighten-2">
            Thanks for subscribing :), We'll get back to you when we launch.
          </h5>
        </div>
      </div>
      <br>
      <br>

    </div>
  </div>
  <div class="parallax teal lighten-1">
    <img src="images/souk.jpg" alt="Unsplashed background img 4">
  </div>
</div>
<div class="container">
  <div class="section teal-text lighten-1" >

    <!--   Icon Section   -->
    <div class="row scrollspy" id="how_it_works">
      <div class="col s12 m4">
        <div class="row">
          <div class="col s12 m12 center">
            <div class="icon-block">
              <h2 class="center">
                <i class="material-icons">gps_fixed</i>
              </h2>
              <h5 class="center">Set goals</h5>

              <p class="light">We believe that every dream should have a platform to grow. List your dreams as goals you want to achieve, and we'll be with you until you achieve it.</p>
            </div>
          </div>
          <div class="col s12 m12 center">
            <div class="icon-block">
              <h2 class="center">
                <i class="material-icons">alarm</i>
              </h2>
              <h5 class="center">Reminders</h5>

              <p class="light">Get reminders based on your preferences</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4 center">
        <p class="light">
          <div id="image-container">
            <img id="image" hidefocus="true" src="pages/getting_started_1.png" usemap="#map_getting_started_1" style="    height: auto;
            max-width: 83%;">
              <!-- height: 601px;
              width: 324px; -->
            </div>
          </p>
        </div>
        <div class="col s12 m4">
          <div class="row">
            <div class="col s12 m12 center">
              <div class="icon-block">
                <h2 class="center">
                  <i class="material-icons">mood</i>
                </h2>
                <h5 class="center">Achieve it</h5>

                <p class="light">Achieve your goals in style. Every time you save, you receive points that can earn you a reward when you complete saving for your goal</p>
              </div>
            </div>

            <div class="col s12 m12 center">
              <div class="icon-block">
                <h2 class="center">
                  <i class="material-icons">group</i>
                </h2>
                <h5 class="center">Group goals</h5>

                <p class="light">Planing on a trip or a party. With keep, you get the motivation to save and join to enjoy the journey</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div style="display: none;" id="page">
    <div id="content">
      <h1 id="documentTitle">
        <span>capstone design final.ep</span>
      </h1>
      <div class="Page" id="getting_started_1_page">
        <div class="Texts">
          <h2 class="Title">Getting Started - 1</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/getting_started_1.png" usemap="#map_getting_started_1" id="getting_started_1_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_getting_started_1">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="188.98333740234375,635.5,222,643.5" href="#getting_started_3_page" title="Go to page 'Getting Started - 3'" />
            <area shape="rect" coords="152.14999389648438,635.5,187.89999389648438,643.5" href="#getting_started_2_page" title="Go to page 'Getting Started - 2'" />
            <area shape="rect" coords="220.98333740234375,635.5,254,643.5" href="#getting_started_4_page" title="Go to page 'Getting Started - 4'" />
            <area shape="rect" coords="86,660,182,696" href="#log_in_page" title="Go to page 'Log in'" />
            <area shape="rect" coords="218,660,314,696" href="#sign_up_page" title="Go to page 'Sign Up'" />
            <area shape="rect" coords="12.5,50,384.01666259765625,715.2666625976562" href="#getting_started_2_page" title="Go to page 'Getting Started - 2'" />
          </map>
        </div>
      </div>
      <div class="Page" id="getting_started_2_page">
        <div class="Texts">
          <h2 class="Title">Getting Started - 2</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/getting_started_2.png" usemap="#map_getting_started_2" id="getting_started_2_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_getting_started_2">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="122.98333740234375,635.5,156,643.5" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="188.98333740234375,635.5,222,643.5" href="#getting_started_3_page" title="Go to page 'Getting Started - 3'" />
            <area shape="rect" coords="152.14999389648438,635.5,187.89999389648438,643.5" href="#getting_started_2_page" title="Go to page 'Getting Started - 2'" />
            <area shape="rect" coords="220.98333740234375,635.5,254,643.5" href="#getting_started_4_page" title="Go to page 'Getting Started - 4'" />
            <area shape="rect" coords="86,660,182,696" href="#log_in_page" title="Go to page 'Log in'" />
            <area shape="rect" coords="218,660,314,696" href="#sign_up_page" title="Go to page 'Sign Up'" />
            <area shape="rect" coords="12.5,50,384.01666259765625,715.2666625976562" href="#getting_started_3_page" title="Go to page 'Getting Started - 3'" />
          </map>
        </div>
      </div>
      <div class="Page" id="getting_started_3_page">
        <div class="Texts">
          <h2 class="Title">Getting Started - 3</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/getting_started_3.png" usemap="#map_getting_started_3" id="getting_started_3_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_getting_started_3">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="122.98333740234375,635.5,156,643.5" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="188.98333740234375,635.5,222,643.5" href="#getting_started_3_page" title="Go to page 'Getting Started - 3'" />
            <area shape="rect" coords="152.14999389648438,635.5,187.89999389648438,643.5" href="#getting_started_2_page" title="Go to page 'Getting Started - 2'" />
            <area shape="rect" coords="220.98333740234375,635.5,254,643.5" href="#getting_started_4_page" title="Go to page 'Getting Started - 4'" />
            <area shape="rect" coords="86,660,182,696" href="#log_in_page" title="Go to page 'Log in'" />
            <area shape="rect" coords="218,660,314,696" href="#sign_up_page" title="Go to page 'Sign Up'" />
            <area shape="rect" coords="12.5,50,384.01666259765625,715.2666625976562" href="#getting_started_4_page" title="Go to page 'Getting Started - 4'" />
          </map>
        </div>
      </div>
      <div class="Page" id="getting_started_4_page">
        <div class="Texts">
          <h2 class="Title">Getting Started - 4</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/getting_started_4.png" usemap="#map_getting_started_4" id="getting_started_4_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_getting_started_4">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="122.98333740234375,635.5,156,643.5" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="188.98333740234375,635.5,222,643.5" href="#getting_started_3_page" title="Go to page 'Getting Started - 3'" />
            <area shape="rect" coords="152.14999389648438,635.5,187.89999389648438,643.5" href="#getting_started_2_page" title="Go to page 'Getting Started - 2'" />
            <area shape="rect" coords="86,660,182,696" href="#log_in_page" title="Go to page 'Log in'" />
            <area shape="rect" coords="218,660,314,696" href="#sign_up_page" title="Go to page 'Sign Up'" />
          </map>
        </div>
      </div>
      <div class="Page" id="sign_up_page">
        <div class="Texts">
          <h2 class="Title">Sign Up</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/sign_up.png" usemap="#map_sign_up" id="sign_up_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_sign_up">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="265,660,320,687" href="#log_in_page" title="Go to page 'Log in'" />
            <area shape="rect" coords="133,503,267,539" href="#main_page_empty_state_page" title="Go to page 'Main page - empty state'" />
          </map>
        </div>
      </div>
      <div class="Page" id="log_in_page">
        <div class="Texts">
          <h2 class="Title">Log in</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/log_in.png" usemap="#map_log_in" id="log_in_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_log_in">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="198,660,315,687" href="#sign_up_page" title="Go to page 'Sign Up'" />
            <area shape="rect" coords="133,452,267,488" href="#main_page_page" title="Go to page 'Main page'" />
          </map>
        </div>
      </div>
      <div class="Page" id="main_page_empty_state_page">
        <div class="Texts">
          <h2 class="Title">Main page - empty state</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/main_page_empty_state.png" usemap="#map_main_page_empty_state" id="main_page_empty_state_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_main_page_empty_state">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="138,259,262,295" href="#new_goal_page" title="Go to page 'New Goal'" />
            <area shape="rect" coords="332.83331298828125,106.23333740234375,349.7666473388672,123.16667175292969" href="#new_goal_page" title="Go to page 'New Goal'" />
          </map>
        </div>
      </div>
      <div class="Page" id="main_page_page">
        <div class="Texts">
          <h2 class="Title">Main page</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/main_page.png" usemap="#map_main_page" id="main_page_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_main_page">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="349.0333251953125,142.25,367.79998779296875,156.61666870117188" href="#main_page_tile_view_page" title="Go to page 'Main page - TILE VIEW'" />
            <area shape="rect" coords="26.73333740234375,168.73333740234375,179.18333435058594,295.5833282470703" href="#view_goal_page" title="Go to page 'View goal'" />
            <area shape="rect" coords="27.716659545898438,436.7166748046875,180.93333435058594,564.3333435058594" href="#view_goal_page" title="Go to page 'View goal'" />
            <area shape="rect" coords="332.83331298828125,110.23333740234375,349.7666473388672,127.16667175292969" href="#new_goal_page" title="Go to page 'New Goal'" />
          </map>
        </div>
      </div>
      <div class="Page" id="new_goal_page">
        <div class="Texts">
          <h2 class="Title">New Goal</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/new_goal.png" usemap="#map_new_goal" id="new_goal_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_new_goal">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="89.73333740234375,664.5,314.5,700.5166625976562" href="#new_goal_scrolled_page" title="Go to page 'New Goal - scrolled'" />
            <area shape="rect" coords="26.149993896484375,113.06666564941406,42,128.93333435058594" href="#main_page_page" title="Go to page 'Main page'" />
            <area shape="rect" coords="25,146,370,431.01666259765625" href="#new_goal_scrolled_page" title="Go to page 'New Goal - scrolled'" />
          </map>
        </div>
      </div>
      <div class="Page" id="new_goal_scrolled_page">
        <div class="Texts">
          <h2 class="Title">New Goal - scrolled</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/new_goal_scrolled.png" usemap="#map_new_goal_scrolled" id="new_goal_scrolled_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_new_goal_scrolled">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="131,651,265,687" href="#main_page_page" title="Go to page 'Main page'" />
            <area shape="rect" coords="216,566.9833374023438,234,585" href="#new_goal_scrolled_time_selected_page" title="Go to page 'New Goal - scrolled - time selected'" />
            <area shape="rect" coords="240,567,382,585" href="#new_goal_scrolled_time_selected_page" title="Go to page 'New Goal - scrolled - time selected'" />
            <area shape="rect" coords="77,542,220,560" href="#new_goal_scrolled_time_selected_page" title="Go to page 'New Goal - scrolled - time selected'" />
            <area shape="rect" coords="54,541.9833374023438,72,560" href="#new_goal_scrolled_time_selected_page" title="Go to page 'New Goal - scrolled - time selected'" />
            <area shape="rect" coords="26.149993896484375,105.06666564941406,42,120.93333435058594" href="#main_page_page" title="Go to page 'Main page'" />
          </map>
        </div>
      </div>
      <div class="Page" id="new_goal_scrolled_time_selected_page">
        <div class="Texts">
          <h2 class="Title">New Goal - scrolled - time selected</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/new_goal_scrolled_time_selected.png" usemap="#map_new_goal_scrolled_time_selected" id="new_goal_scrolled_time_selected_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_new_goal_scrolled_time_selected">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="131,651,265,687" href="#main_page_page" title="Go to page 'Main page'" />
            <area shape="rect" coords="26.149993896484375,113.06666564941406,42,128.93333435058594" href="#main_page_page" title="Go to page 'Main page'" />
          </map>
        </div>
      </div>
      <div class="Page" id="edit_goal_page">
        <div class="Texts">
          <h2 class="Title">Edit Goal</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/edit_goal.png" usemap="#map_edit_goal" id="edit_goal_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_edit_goal">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="131,651,265,687" href="#main_page_page" title="Go to page 'Main page'" />
            <area shape="rect" coords="26.149993896484375,113.06666564941406,42,128.93333435058594" href="#main_page_page" title="Go to page 'Main page'" />
          </map>
        </div>
      </div>
      <div class="Page" id="view_goal_page">
        <div class="Texts">
          <h2 class="Title">View goal</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/view_goal.png" usemap="#map_view_goal" id="view_goal_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_view_goal">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="303.83331298828125,111.83332824707031,323.1999816894531,131.1999969482422" href="#add_daily_amount_page" title="Go to page 'Add daily amount'" />
            <area shape="rect" coords="333.25,112.21665954589844,351.26666259765625,130.25" href="#edit_goal_page" title="Go to page 'Edit Goal'" />
            <area shape="rect" coords="26.149993896484375,113.06666564941406,42,128.93333435058594" href="#main_page_page" title="Go to page 'Main page'" />
          </map>
        </div>
      </div>
      <div class="Page" id="view_goal_after_save_page">
        <div class="Texts">
          <h2 class="Title">View goal - after save</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/view_goal_after_save.png" usemap="#map_view_goal_after_save" id="view_goal_after_save_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_view_goal_after_save">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="46,645,357,693" href="#view_goal_page" title="Go to page 'View goal'" />
            <area shape="rect" coords="333.25,112.21665954589844,351.26666259765625,130.25" href="#edit_goal_page" title="Go to page 'Edit Goal'" />
            <area shape="rect" coords="26.149993896484375,113.06666564941406,42,128.93333435058594" href="#main_page_page" title="Go to page 'Main page'" />
          </map>
        </div>
      </div>
      <div class="Page" id="main_page_after_save_page">
        <div class="Texts">
          <h2 class="Title">Main page - after save</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/main_page_after_save.png" usemap="#map_main_page_after_save" id="main_page_after_save_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_main_page_after_save">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="349.0333251953125,142.25,367.79998779296875,156.61666870117188" href="#main_page_tile_view_page" title="Go to page 'Main page - TILE VIEW'" />
            <area shape="rect" coords="326.8999938964844,142.43333435058594,343.9166717529297,156.4499969482422" href="#main_page_page" title="Go to page 'Main page'" />
            <area shape="rect" coords="26.73333740234375,163.73333740234375,179.18333435058594,290.5833282470703" href="#view_goal_page" title="Go to page 'View goal'" />
            <area shape="rect" coords="27.716659545898438,441.7166748046875,180.93333435058594,569.3333435058594" href="#view_goal_page" title="Go to page 'View goal'" />
            <area shape="rect" coords="28.466659545898438,303.4666748046875,183.61666870117188,431.7333526611328" href="#view_goal_page" title="Go to page 'View goal'" />
            <area shape="rect" coords="26.433334350585938,303.16668701171875,368.46665954589844,431.183349609375" href="#view_goal_page" title="Go to page 'View goal'" />
            <area shape="rect" coords="25.166671752929688,163.1666717529297,367.1999969482422,291.18333435058594" href="#view_goal_page" title="Go to page 'View goal'" />
            <area shape="rect" coords="25.716659545898438,441.16668701171875,367.74998474121094,569.183349609375" href="#view_goal_page" title="Go to page 'View goal'" />
            <area shape="rect" coords="21,598,375,661" href="#main_page_page" title="Go to page 'Main page'" />
            <area shape="rect" coords="332.83331298828125,110.23333740234375,349.7666473388672,127.16667175292969" href="#new_goal_page" title="Go to page 'New Goal'" />
          </map>
        </div>
      </div>
      <div class="Page" id="main_page_tile_view_page">
        <div class="Texts">
          <h2 class="Title">Main page - TILE VIEW</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/main_page_tile_view.png" usemap="#map_main_page_tile_view" id="main_page_tile_view_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_main_page_tile_view">
            <area shape="rect" coords="285,720,317,752" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="83,720,115,752" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="183,720,215,752" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="211,378,360,509" href="#view_goal_page" title="Go to page 'View goal'" />
            <area shape="rect" coords="326.8999938964844,142.43333435058594,343.9166717529297,156.4499969482422" href="#main_page_page" title="Go to page 'Main page'" />
            <area shape="rect" coords="332.83331298828125,110.23333740234375,349.7666473388672,127.16667175292969" href="#new_goal_page" title="Go to page 'New Goal'" />
            <area shape="rect" coords="26.73333740234375,166.73333740234375,179.18333435058594,293.5833282470703" href="#view_goal_page" title="Go to page 'View goal'" />
            <area shape="rect" coords="28,381,182,509" href="#view_goal_page" title="Go to page 'View goal'" />
          </map>
        </div>
      </div>
      <div class="Page" id="deposit_card_page">
        <div class="Texts">
          <h2 class="Title">Deposit - card</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/deposit_card.png" usemap="#map_deposit_card" id="deposit_card_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_deposit_card">
            <area shape="rect" coords="285,720,317,752" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="83,720,115,752" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="183,720,215,752" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="211,378,360,509" href="#view_goal_page" title="Go to page 'View goal'" />
            <area shape="rect" coords="326.8999938964844,142.43333435058594,343.9166717529297,156.4499969482422" href="#main_page_page" title="Go to page 'Main page'" />
            <area shape="rect" coords="332.83331298828125,110.23333740234375,349.7666473388672,127.16667175292969" href="#new_goal_page" title="Go to page 'New Goal'" />
            <area shape="rect" coords="26.73333740234375,166.73333740234375,179.18333435058594,293.5833282470703" href="#view_goal_page" title="Go to page 'View goal'" />
            <area shape="rect" coords="28,381,182,509" href="#view_goal_page" title="Go to page 'View goal'" />
          </map>
        </div>
      </div>
      <div class="Page" id="deposit_paypal_page">
        <div class="Texts">
          <h2 class="Title">Deposit - paypal</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/deposit_paypal.png" usemap="#map_deposit_paypal" id="deposit_paypal_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_deposit_paypal">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="133.73333740234375,206.73333740234375,207.25,235.5" href="#deposit_card_page" title="Go to page 'Deposit - card'" />
            <area shape="rect" coords="97,205.25,117.01666259765625,225.26666259765625" href="#deposit_card_page" title="Go to page 'Deposit - card'" />
            <area shape="rect" coords="130.98333740234375,512.9833374023438,265,549" href="#view_goal_after_save_page" title="Go to page 'View goal - after save'" />
            <area shape="rect" coords="26.149993896484375,113.06666564941406,42,128.93333435058594" href="#main_page_page" title="Go to page 'Main page'" />
          </map>
        </div>
      </div>
      <div class="Page" id="add_daily_amount_page">
        <div class="Texts">
          <h2 class="Title">Add daily amount</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/add_daily_amount.png" usemap="#map_add_daily_amount" id="add_daily_amount_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_add_daily_amount">
            <area shape="rect" coords="133,414.98333740234375,267,451" href="#view_goal_after_save_page" title="Go to page 'View goal - after save'" />
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="14,68,379,726.0166625976562" href="#view_goal_page" title="Go to page 'View goal'" />
            <area shape="rect" coords="333.25,112.21665954589844,351.26666259765625,130.25" href="#edit_goal_page" title="Go to page 'Edit Goal'" />
            <area shape="rect" coords="26.149993896484375,113.06666564941406,42,128.93333435058594" href="#main_page_page" title="Go to page 'Main page'" />
          </map>
        </div>
      </div>
      <div class="Page" id="goal_achieved_page">
        <div class="Texts">
          <h2 class="Title">Goal achieved</h2>
        </div>
        <div class="Image">
          <img width="396" height="799" src="pages/goal_achieved.png" usemap="#map_goal_achieved" id="goal_achieved_page_image" />
          <div class="ImageFooter">
          </div>
          <map name="map_goal_achieved">
            <area shape="rect" coords="283,716,315,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="81,716,113,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="181,716,213,748" href="#getting_started_1_page" title="Go to page 'Getting Started - 1'" />
            <area shape="rect" coords="26.149993896484375,113.06666564941406,42,128.93333435058594" href="#main_page_page" title="Go to page 'Main page'" />
          </map>
        </div>
      </div>
    </div>
  </div>

</template>